{% extends 'base.html.twig' %}

{% block title %}Hello PostArticlesController!{% endblock %}

{% block body %}
    <section class="container">
        <i class="icofont-dart icofont-1x"></i>
    </section>
{% endblock %}
